<!--The content below is only a placeholder and can be replaced.-->
  <h1>
    Welcome to {{ title }}!
  </h1>
  
  <form [formGroup]="appForm" (ngSubmit)="onSubmit()" >

    <label for="exampleInputEmail1">Name</label>
    <input type="text" formControlName='name'/>

        <!--address-->
        <div class="form-group">
            <div formArrayName="addresses">
              <div *ngFor="let address of appForm.controls.addresses['controls']; let i=index" class="panel panel-default">
                <div class="panel-heading">
                  <span>
                    <b>Address Details</b> {{i + 1}}</span>
                  <span class="pull-right glyphicon glyphicon-remove" *ngIf="appForm.controls.addresses.controls.length > 1"  (click)="removeAddress(i)"  ></span>
                </div>
                <div class="panel-body" [formGroupName]="i">
                  <address [group]="appForm.controls.addresses.controls[i]"></address>
                </div>
              </div>
            </div>
      
            <div class="margin-20">
              <input type="button" class="btn btn-primary"  (click)="addAddress()" value="+Add More Siblings Details" />
            </div>
          </div>
          <button type="submit" class="btn btn-success" >Save</button>
  
  </form>





